// location-and-amenities.scss
@import 'variables';

/* Define styles for location section */

.location{
    padding-top: 35px ;
    margin-left:115px;
    vertical-align: middle;
}


.location button{
    padding: 15px 10px;
    border-radius: 5px;
    float: right;
    margin-bottom: 10px;
    margin-left: 50px;
}
#map-frame{
    border-radius: 2%;
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    margin-left: 110px;
    overflow-x: hidden; /* Hide horizontal overflow */
}

iframe ::after #location{
    padding-bottom: 35px;
}

/* Amenities section */
.amenities-column {
    float: right;
    margin-right: 30%;
}

.amenities-column1 {
    float: left;
    margin-left: 10%;
}

.amenities {
    width: 100%;
}

.amenities ul {
    list-style-type: none;
    padding: 0;
}

.amenities li {
    margin-bottom: 10px;

}

.amenities img{
    border: nones;
}

.amenities-column a{
    text-decoration: none;
    color:rgb(255, 134, 130)
}

.amenities-column1{
    padding-bottom: 35px;
}

.amenities-column1::after {
    content: "";
    display: block;
}

.amenities li img, .amenities li span {
    display: inline-block;
    vertical-align: middle;
}


/* Define more styles for location and amenities as needed */
