// reviews-sec.scss
@import 'variables';

// Define styles for location, map, buttons, amenities, etc.
// Use variables and organize as needed


.reviews-sec div {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.reviews-sec h2 {
    float: left;
}

.reviews-sec .book-button {
    float: right;
}

.review-container {
    margin-left: 110px;
    width: 100%;
    overflow: hidden;
}

.rating {
    float: left;
    font-size: 2.5rem;
}

.reviews-sec article img,
.reviews-sec article strong,
.reviews-sec article span,
.reviews-sec article svg {
    display: inline-block;
    vertical-align: middle;
}

.reviews-sec article img {
    margin-left: 110px;
    border-radius: 200%;
}

.reviews-sec article svg {
    float: right;
    margin-right: 110px;
}

.reviews-sec article p {
    margin-left: 120px;
    margin-top: 20px;
}


#arrow_nav button,
#arrow_nav span{
    display: inline-block;
vertical-align: middle;
}

#arrow_nav{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}