// rooms.scss
@import 'variables';
@import 'mixins';

/* Define styles for available rooms */
section h2{
    padding-top: 35px;
    padding-left: 110px;
  }
  
.room-container {
    width: 100%;
    margin-top: 0px;
    margin-right: 100px;
    text-align: left;
    vertical-align: middle;
    display: inline-block;

}

.rounded-image {
    border-radius: 20%;
    margin-left: 100px;
    margin-right: 0px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

.room-details {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-right: 15px;
    padding: 10px;
    font-weight: 700;
}

.room-price-book{
    float: right;
    margin-left: 50px;
    padding: 10px;
}

.room-price-book span:nth-child(1) {
    font-size: x-large;
    font-weight: 900;
}

.book-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    border-color: transparent;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: bold;
}

.room-container img,
.room-container span {
    display: inline-block;
    vertical-align: middle;
}

/* Define more styles for rooms as needed */
