// variables.scss
$background-color: rgb(250, 251, 252);
$font-family: Helvetica, sans-serif;
$zero-margin-padding: 0;
$primary-color: rgb(255, 255, 255);
$header-font-weight: 800;
$header-shadow-color: rgba(0, 0, 0, 0.2);
$link-color: #000;
$green-color: green;
$orangered-color: rgb(255, 134, 130);
$white-color: #ffffff;
$light-green-color: rgb(141, 211, 187);
$blue-color: #01F9C6;
$dark-color: #000;
